@media screen {
  :root {
    --ds-chart-categorical-1: #4688ec;
    --ds-chart-categorical-1-hovered: #669df1;
    --ds-chart-categorical-2: #94c748;
    --ds-chart-categorical-2-hovered: #b3df72;
    --ds-chart-categorical-3: #c97cf4;
    --ds-chart-categorical-3-hovered: #d8a0f7;
    --ds-chart-categorical-4: #fca700;
    --ds-chart-categorical-4-hovered: #fbc828;
    --ds-chart-categorical-5: #1558bc;
    --ds-chart-categorical-5-hovered: #1868db;
    --ds-chart-categorical-6: #964ac0;
    --ds-chart-categorical-6-hovered: #af59e1;
    --ds-chart-categorical-7: #42b2d7;
    --ds-chart-categorical-7-hovered: #6cc3e0;
    --ds-chart-categorical-8: #e06c00;
    --ds-chart-categorical-8-hovered: #f68909;
    --ds-chart-lime-bold: #82b536;
    --ds-chart-lime-bold-hovered: #94c748;
    --ds-chart-lime-bolder: #94c748;
    --ds-chart-lime-bolder-hovered: #b3df72;
    --ds-chart-lime-boldest: #b3df72;
    --ds-chart-lime-boldest-hovered: #d3f1a7;
    --ds-chart-neutral: #7e8188;
    --ds-chart-neutral-hovered: #96999e;
    --ds-chart-red-bold: #e2483d;
    --ds-chart-red-bold-hovered: #f15b50;
    --ds-chart-red-bolder: #f15b50;
    --ds-chart-red-bolder-hovered: #f87168;
    --ds-chart-red-boldest: #fd9891;
    --ds-chart-red-boldest-hovered: #ffd5d2;
    --ds-chart-orange-bold: #f68909;
    --ds-chart-orange-bold-hovered: #fca700;
    --ds-chart-orange-bolder: #fca700;
    --ds-chart-orange-bolder-hovered: #fbc828;
    --ds-chart-orange-boldest: #fbc828;
    --ds-chart-orange-boldest-hovered: #fce4a6;
    --ds-chart-yellow-bold: #cf9f02;
    --ds-chart-yellow-bold-hovered: #ddb30e;
    --ds-chart-yellow-bolder: #ddb30e;
    --ds-chart-yellow-bolder-hovered: #eed12b;
    --ds-chart-yellow-boldest: #eed12b;
    --ds-chart-yellow-boldest-hovered: #f5e989;
    --ds-chart-green-bold: #2abb7f;
    --ds-chart-green-bold-hovered: #4bce97;
    --ds-chart-green-bolder: #4bce97;
    --ds-chart-green-bolder-hovered: #7ee2b8;
    --ds-chart-green-boldest: #7ee2b8;
    --ds-chart-green-boldest-hovered: #baf3db;
    --ds-chart-teal-bold: #42b2d7;
    --ds-chart-teal-bold-hovered: #6cc3e0;
    --ds-chart-teal-bolder: #6cc3e0;
    --ds-chart-teal-bolder-hovered: #9dd9ee;
    --ds-chart-teal-boldest: #9dd9ee;
    --ds-chart-teal-boldest-hovered: #c6edfb;
    --ds-chart-blue-bold: #357de8;
    --ds-chart-blue-bold-hovered: #4688ec;
    --ds-chart-blue-bolder: #4688ec;
    --ds-chart-blue-bolder-hovered: #669df1;
    --ds-chart-blue-boldest: #8fb8f6;
    --ds-chart-blue-boldest-hovered: #cfe1fd;
    --ds-chart-purple-bold: #af59e1;
    --ds-chart-purple-bold-hovered: #bf63f3;
    --ds-chart-purple-bolder: #bf63f3;
    --ds-chart-purple-bolder-hovered: #c97cf4;
    --ds-chart-purple-boldest: #d8a0f7;
    --ds-chart-purple-boldest-hovered: #eed7fc;
    --ds-chart-magenta-bold: #cd519d;
    --ds-chart-magenta-bold-hovered: #da62ac;
    --ds-chart-magenta-bolder: #da62ac;
    --ds-chart-magenta-bolder-hovered: #e774bb;
    --ds-chart-magenta-boldest: #f797d2;
    --ds-chart-magenta-boldest-hovered: #fdd0ec;
    --ds-chart-gray-bold: #7e8188;
    --ds-chart-gray-bold-hovered: #96999e;
    --ds-chart-gray-bolder: #96999e;
    --ds-chart-gray-bolder-hovered: #a9abaf;
    --ds-chart-gray-boldest: #a9abaf;
    --ds-chart-gray-boldest-hovered: #bfc1c4;
    --ds-chart-brand: #4688ec;
    --ds-chart-brand-hovered: #669df1;
    --ds-chart-danger: #e2483d;
    --ds-chart-danger-hovered: #f15b50;
    --ds-chart-danger-bold: #f87168;
    --ds-chart-danger-bold-hovered: #fd9891;
    --ds-chart-warning: #f68909;
    --ds-chart-warning-hovered: #fca700;
    --ds-chart-warning-bold: #fbc828;
    --ds-chart-warning-bold-hovered: #fce4a6;
    --ds-chart-success: #82b536;
    --ds-chart-success-hovered: #94c748;
    --ds-chart-success-bold: #b3df72;
    --ds-chart-success-bold-hovered: #d3f1a7;
    --ds-chart-discovery: #bf63f3;
    --ds-chart-discovery-hovered: #c97cf4;
    --ds-chart-discovery-bold: #d8a0f7;
    --ds-chart-discovery-bold-hovered: #eed7fc;
    --ds-chart-information: #4688ec;
    --ds-chart-information-hovered: #669df1;
    --ds-chart-information-bold: #8fb8f6;
    --ds-chart-information-bold-hovered: #cfe1fd;
  }
}
