@media screen {
  :root {
    --color-action-complementary: #6b6c72;
    --color-action-complementary-active: rgba(107, 108, 114, 0.75);
    --color-action-complementary-border: #ffffff;
    --color-action-complementary-focus: #6b6c72;
    --color-action-complementary-hover: rgba(107, 108, 114, 0.85);
    --color-action-complementary-subtle: rgba(255, 255, 255, 0);
    --color-action-complementary-subtle-active: rgba(255, 255, 255, 0.2);
    --color-action-complementary-subtle-focus: rgba(255, 255, 255, 0);
    --color-action-complementary-subtle-hover: rgba(255, 255, 255, 0.1);
    --color-action-negative: #d52b1e;
    --color-action-negative-active: #b80000;
    --color-action-negative-focus: #d52b1e;
    --color-action-negative-hover: #c6160f;
    --color-action-negative-subtle: rgba(213, 43, 30, 0);
    --color-action-negative-subtle-active: rgba(213, 43, 30, 0.2);
    --color-action-negative-subtle-focus: rgba(213, 43, 30, 0);
    --color-action-negative-subtle-hover: rgba(213, 43, 30, 0.1);
    --color-action-passive: #e3e5e8;
    --color-action-passive-active: #babec5;
    --color-action-passive-border: #6b6c72;
    --color-action-passive-focus: #e3e5e8;
    --color-action-passive-hover: #d4d7dc;
    --color-action-passive-subtle: rgba(107, 108, 114, 0);
    --color-action-passive-subtle-active: rgba(107, 108, 114, 0.2);
    --color-action-passive-subtle-focus: rgba(107, 108, 114, 0);
    --color-action-passive-subtle-hover: rgba(107, 108, 114, 0.1);
    --color-action-special-use: #ff6a00;
    --color-action-special-use-active: #f95700;
    --color-action-special-use-focus: #ff6a00;
    --color-action-special-use-hover: #fc6000;
    --color-action-special-use-subtle: rgba(255, 106, 0, 0);
    --color-action-special-use-subtle-active: rgba(255, 106, 0, 0.2);
    --color-action-special-use-subtle-focus: rgba(255, 106, 0, 0);
    --color-action-special-use-subtle-hover: rgba(255, 106, 0, 0.1);
    --color-action-standard: #0077c5;
    --color-action-standard-active: #055393;
    --color-action-standard-focus: #0077c5;
    --color-action-standard-hover: #0265ac;
    --color-action-standard-subtle: rgba(0, 119, 197, 0);
    --color-action-standard-subtle-active: rgba(0, 119, 197, 0.2);
    --color-action-standard-subtle-focus: rgba(0, 119, 197, 0);
    --color-action-standard-subtle-hover: rgba(0, 119, 197, 0.1);
    --color-code-attribute: #00892e;
    --color-code-boolean: #6100c2;
    --color-code-comment: #6b6c72;
    --color-code-keyword: #d72792;
    --color-code-line-highlight: #f0f4f6;
    --color-code-line-number: #859299;
    --color-code-number: #c84f00;
    --color-code-operator: #859299;
    --color-code-qualifier: #3bd85e;
    --color-code-string: #00828d;
    --color-code-text: #21262a;
    --color-code-type: #fca354;
    --color-code-variable-1: #21262a;
    --color-code-variable-2: #21262a;
    --color-code-variable-3: #fca354;
    --color-container-background-accent: #f5fcff;
    --color-container-background-accent-active: #e1f5ff;
    --color-container-background-accent-focus: #ebf9ff;
    --color-container-background-accent-hover: #ebf9ff;
    --color-container-background-accent-selected: #e1f5ff;
    --color-container-background-attention: #ffecd9;
    --color-container-background-beta: #d9f6f5;
    --color-container-background-complementary: #393a3d;
    --color-container-background-info: #d9effb;
    --color-container-background-inverse: #393a3d;
    --color-container-background-negative: #fad7d6;
    --color-container-background-neutral: #eeeeef;
    --color-container-background-new: #fbddf0;
    --color-container-background-positive: #e5f4d9;
    --color-container-background-primary: #ffffff;
    --color-container-background-quaternary: #e3e5e8;
    --color-container-background-secondary: #f4f5f8;
    --color-container-background-special-use-1: #7cbcff;
    --color-container-background-special-use-2: #00d5b0;
    --color-container-background-special-use-3: #ff808c;
    --color-container-background-special-use-4: #d5dee3;
    --color-container-background-tertiary: #eceef1;
    --color-container-border-accent: #0097e6;
    --color-container-border-attention: #ff8000;
    --color-container-border-complementary: #393a3d;
    --color-container-border-info: #0097e6;
    --color-container-border-negative: #e43834;
    --color-container-border-positive: #53b700;
    --color-container-border-primary: #d4d7dc;
    --color-container-border-secondary: #8d9096;
    --color-container-border-tertiary: #babec5;
    --color-container-overlay: rgba(255, 255, 255, 0.5);
    --color-data-attention: #ff8000;
    --color-data-attention-100: #ff9331;
    --color-data-attention-200: #ff8000;
    --color-data-attention-300: #ff6a00;
    --color-data-attention-400: #f95700;
    --color-data-category-1: #205ea3;
    --color-data-category-1-background: #7cbcff;
    --color-data-category-2: #009eac;
    --color-data-category-2-background: #38e8f6;
    --color-data-category-3: #6100c2;
    --color-data-category-3-background: #c0abff;
    --color-data-category-4: #e56c1d;
    --color-data-category-4-background: #fca354;
    --color-data-category-5: #b61a37;
    --color-data-category-5-background: #ff9ba4;
    --color-data-category-6: #d72792;
    --color-data-category-6-background: #ff95d3;
    --color-data-category-7: #8f4bff;
    --color-data-category-7-background: #d0c2ff;
    --color-data-category-8: #00a63b;
    --color-data-category-8-background: #5bef76;
    --color-data-category-9: #3492ef;
    --color-data-category-9-background: #a0cfff;
    --color-data-category-10: #c27a00;
    --color-data-category-10-background: #f9c741;
    --color-data-negative: #e43834;
    --color-data-negative-100: #f25a52;
    --color-data-negative-200: #e43834;
    --color-data-negative-300: #d52b1e;
    --color-data-negative-400: #b80000;
    --color-data-neutral: #babec5;
    --color-data-neutral-100: #babec5;
    --color-data-neutral-200: #8d9096;
    --color-data-neutral-300: #6b6c72;
    --color-data-neutral-400: #393a3d;
    --color-data-positive: #2ca01c;
    --color-data-positive-100: #7fd000;
    --color-data-positive-200: #53b700;
    --color-data-positive-300: #2ca01c;
    --color-data-positive-400: #108000;
    --color-data-primary: #0097e6;
    --color-data-primary-100: #21abf6;
    --color-data-primary-200: #0097e6;
    --color-data-primary-300: #0077c5;
    --color-data-primary-400: #055393;
    --color-data-secondary: #00a6a4;
    --color-data-secondary-100: #00d7d7;
    --color-data-secondary-200: #00c1bf;
    --color-data-secondary-300: #00a6a4;
    --color-data-secondary-400: #008481;
    --color-data-tertiary: #7a3dd8;
    --color-data-tertiary-100: #9457fa;
    --color-data-tertiary-200: #7a3dd8;
    --color-data-tertiary-300: #6436af;
    --color-data-tertiary-400: #4e2b8f;
    --color-divider-inverse: #ffffff;
    --color-divider-primary: #6b6c72;
    --color-divider-secondary: #babec5;
    --color-divider-tertiary: #d4d7dc;
    --color-focus-indicator: #0077c5;
    --color-icon-accent: #0077c5;
    --color-icon-complementary: #ffffff;
    --color-icon-disabled: #8d9096;
    --color-icon-inverse: #ffffff;
    --color-icon-primary: #393a3d;
    --color-icon-secondary: #6b6c72;
    --color-input-background-disabled: #8d9096;
    --color-input-background-error: rgba(213, 43, 30, 0.1);
    --color-input-background-error-focus: rgba(213, 43, 30, 0.07);
    --color-input-background-primary: #ffffff;
    --color-input-background-primary-active: #ffffff;
    --color-input-background-primary-focus: #ffffff;
    --color-input-background-primary-hover: #ffffff;
    --color-input-background-primary-selected: #0077c5;
    --color-input-background-readonly: #f4f5f8;
    --color-input-background-secondary: #babec5;
    --color-input-background-secondary-active: #babec5;
    --color-input-background-secondary-focus: #babec5;
    --color-input-background-secondary-hover: #babec5;
    --color-input-background-tertiary: #ffffff;
    --color-input-background-tertiary-active: #ffffff;
    --color-input-background-tertiary-focus: #ffffff;
    --color-input-background-tertiary-hover: #ffffff;
    --color-input-background-warning: rgba(255, 187, 0, 0.25);
    --color-input-background-warning-focus: rgba(255, 187, 0, 0.07);
    --color-input-border-disabled: #babec5;
    --color-input-border-error: #d52b1e;
    --color-input-border-primary: #8d9096;
    --color-input-border-primary-active: #0077c5;
    --color-input-border-primary-focus: #0077c5;
    --color-input-border-primary-hover: #0077c5;
    --color-input-border-primary-selected: #0077c5;
    --color-input-border-readonly: #8d9096;
    --color-input-border-secondary: #8d9096;
    --color-input-border-secondary-active: #0077c5;
    --color-input-border-secondary-focus: #0077c5;
    --color-input-border-secondary-hover: #0077c5;
    --color-input-border-tertiary: #babec5;
    --color-input-border-tertiary-active: #0097e6;
    --color-input-border-tertiary-focus: #0077c5;
    --color-input-border-tertiary-hover: #0097e6;
    --color-input-border-warning: #ff6a00;
    --color-input-label: #6b6c72;
    --color-input-placeholder: #babec5;
    --color-input-placeholder-disabled: #d4d7dc;
    --color-link-background: #ebf9ff;
    --color-link-background-visited: rgba(168, 152, 255, 0.1);
    --color-link-text: #0365ac;
    --color-link-text-active: #055393;
    --color-link-text-complementary: #34bfff;
    --color-link-text-complementary-visited: #a898ff;
    --color-link-text-focus: #0365ac;
    --color-link-text-hover: #055393;
    --color-link-text-visited: #7a3dd8;
    --color-message-background-received: #eceef1;
    --color-message-background-sent: #0077c5;
    --color-message-text-received: #393a3d;
    --color-message-text-sent: #ffffff;
    --color-overlay: rgba(0, 0, 0, 0.4);
    --color-page-background-accent: #eceef1;
    --color-page-background-primary: #ffffff;
    --color-page-background-secondary: #f4f5f8;
    --color-page-background-tertiary: #eceef1;
    --color-progress-indicator: #0077c5;
    --color-selection-indicator: #0077c5;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-text-accent: #0077c5;
    --color-text-complementary: #ffffff;
    --color-text-disabled: #8d9096;
    --color-text-highlight: #a0cfff;
    --color-text-inverse: #ffffff;
    --color-text-primary: #393a3d;
    --color-text-quaternary: #6b6c72;
    --color-text-secondary: #6b6c72;
    --color-text-tertiary: #6b6c72;
    --color-track-primary: #8d9096;
    --color-track-secondary: #d4d7dc;
    --color-ui-attention: #ff6a00;
    --color-ui-attention-active: #f95700;
    --color-ui-attention-hover: #fc6000;
    --color-ui-beta: #008481;
    --color-ui-completed: #108000;
    --color-ui-discover: #0097e6;
    --color-ui-info: #0077c5;
    --color-ui-negative: #d52b1e;
    --color-ui-negative-active: #b80000;
    --color-ui-negative-hover: #c6160f;
    --color-ui-neutral: #6b6c72;
    --color-ui-neutral-active: #393a3d;
    --color-ui-neutral-focus: #6b6c72;
    --color-ui-neutral-hover: #525357;
    --color-ui-neutral-selected: #393a3d;
    --color-ui-new: #c9007a;
    --color-ui-positive: #108000;
    --color-ui-primary: #0077c5;
    --color-ui-primary-active: #055393;
    --color-ui-primary-focus: #0077c5;
    --color-ui-primary-hover: #1067aa;
    --color-ui-secondary: #393a3d;
    --color-ui-secondary-active: #000000;
    --color-ui-secondary-focus: #393a3d;
    --color-ui-secondary-hover: #2b2b2e;
    --color-ui-tertiary: #393a3d;
    --color-ui-tertiary-active: #000000;
    --color-ui-tertiary-focus: #393a3d;
    --color-ui-tertiary-hover: #2b2b2e;

    --radius-action: 4px;
    --radius-full: 9999px;
    --radius-large: 8px;
    --radius-medium: 6px;
    --radius-none: 0;
    --radius-small: 4px;
    --radius-x-large: 12px;
    --radius-x-small: 2px;
  }
}
