@media screen {
  :root {
    --font-family-mono:
      ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
      "DejaVu Sans Mono", monospace --font-family-body: Avenir Next forINTUIT,
      Avenir, Helvetica, Arial, sans-serif;
    --font-family-component:
      Avenir Next forINTUIT, Avenir, Helvetica, Arial, sans-serif;
    --font-family-display:
      Avenir Next forINTUIT, Avenir, Helvetica, Arial, sans-serif;
    --font-family-heading:
      Avenir Next forINTUIT, Avenir, Helvetica, Arial, sans-serif;

    --font-size-action-large: 20px;
    --font-size-action-medium: 16px;
    --font-size-action-small: 14px;
    --font-size-action-x-small: 12px;
    --font-size-body-1: 20px;
    --font-size-body-2: 16px;
    --font-size-body-3: 14px;
    --font-size-body-4: 12px;
    --font-size-component-large: 20px;
    --font-size-component-medium: 16px;
    --font-size-component-small: 14px;
    --font-size-component-x-large: 24px;
    --font-size-component-x-small: 12px;
    --font-size-display-1: 84px;
    --font-size-display-2: 72px;
    --font-size-display-3: 60px;
    --font-size-display-4: 48px;
    --font-size-heading-1: 48px;
    --font-size-heading-2: 40px;
    --font-size-heading-3: 34px;
    --font-size-heading-4: 28px;
    --font-size-heading-5: 24px;
    --font-size-heading-6: 20px;
    --font-size-input-label: 14px;
    --font-size-input-text: 16px;

    --font-weight-body: 400;
    --font-weight-body-bold: 600;
    --font-weight-body-semibold: 500;
    --font-weight-component: 400;
    --font-weight-component-bold: 600;
    --font-weight-component-semibold: 500;
    --font-weight-display: 700;
    --font-weight-display-bold: 900;
    --font-weight-heading: 600;
    --font-weight-heading-bold: 800;
    --font-weight-input-label: 400;
    --font-weight-input-text: 500;
    --line-height-body: 1.5;
    --line-height-component: 1.3;
    --line-height-display: 1.15;
    --line-height-heading: 1.3;
  }
}
